.drinks{

    background: linear-gradient(to right, red, black);
    padding: 5px;
    margin: 5px;
    width: 30%;
    color: white;
    text-align: center;
    border-radius: 10px;

}

.addCart-btn{
    width: 100%;
    background-color: yellow;
    font-size: 20px;
    border-radius: 10px;
}
